
body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 6%, rgba(197,133,205,1) 100%);
}
.offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: none;
    align-items: center;
}

.fb-page {
    text-decoration: none;
    font-size: 92px;
    display: flex;
    justify-content: center;
    color: #1a5af5;
    align-items: center;
}
button.d-grid.gap-2.col-6.mx-auto.btn.btn-success {
    background-color: #c585cd;
}

.footer-icon {
    color: black;
    background-color: black;
    border-radius: 50%;
}
p.footer-dis {
    color: black;
}

.video {
    display: flex;
    margin: 20px;
    align-items: center;
    flex-direction: column;
}

.review-align {
    margin: 15px;
    margin-top: 0;
    text-align: justify;
    margin-bottom: 1rem;
}
.review-hi {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    margin: 20px;
    font-family: cursive;
}

.review {
    display: flex;
}

.position {
    align-items: center;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: flex-start;
    width: 20%;
    align-content: flex-start;
    flex-direction: row-reverse;
}
footer{
position: absolute;

background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 6%, rgba(197,133,205,1) 100%);
height: auto;
width: 100vw;

padding-top: 40px;
color: #fff;
}
.footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}
.footer-content h3{
font-size: 2.1rem;
font-weight: 500;
text-transform: capitalize;
line-height: 3rem;
}
hr{
   border: 2px solid gray;
}


.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 18px;
    color: #000000;
}
.socials{
list-style: none;
display: flex;
align-items: center;
justify-content: center;
margin: 1rem 0 3rem 0;
}
.socials li{
margin: 0 10px;
}
.socials a{
text-decoration: none;
color: #fff;
border: 1.1px solid white;
padding: 5px;

border-radius: 50%;

}
.socials a i{
font-size: 1.1rem;
width: 20px;


transition: color .4s ease;

}
.socials a:hover i{
color: aqua;
}

.footer-bottom{
background: #000;
width: 100vw;
padding: 20px;
padding-bottom: 40px;
text-align: center;
}
.footer-bottom p{
float: left;
font-size: 14px;
word-spacing: 2px;
text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
text-transform: uppercase;
opacity: .4;
font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}
button {
    background-color: #66357a;
    width: 150px;
    border-radius: 8px;
}

.footer-name{
    
        color: #8D3DAF;

}
@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}

/* review css */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

@media screen and (max-width: 575px){
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * 1);
        margin-right: auto;
        margin-left: auto;
    }

    .container-fluid{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-content: stretch;
        align-items: center;
    }
    button.navbar-toggler {
        width: auto;
    }
    .review {
        display: block;
    }
    h1.text-center {
        font-size: 25px;
        font-weight: 700;
        color: #b558b2;
        margin: 20px;
        font-family: cursive;
    }
    h6.text-center {
        font-size: 12px;
    }
    .card {
        margin-bottom: 10px;
    }
    .footer-menu ul li a {
        color: #000000;
        text-decoration: none;
    }
    .review-hi {
        font-size: 25px;
        font-weight: 700;
        color: #ffffff;
        margin: 20px;
        font-family: cursive;
    }
    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        align-items: center;
        /* border: 2px #ff7718; */
    }

    }
    
